@import './variables';
@import './mixins';


 
/* You can add global styles to this file, and also import other style files */

.white {color: white;}

.shadow
{
    border: none;
    border-radius: 35;
    background: #fff;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

html, body { height: 100%;overflow: hidden;}


.sortable-item {
    padding: 6px 12px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    cursor: grab;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #adadad;
  }

  .sortable-item-active {
    background-color: #e6e6e6;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
.page-title
{
  float: left;
  margin: 5px;
}
  .sortable-wrapper {
    min-height: 150px;
  }

  .btn {
    margin: 1px;
  }

  .action-row{
    min-height: 40px;
    font-size: 11px;
  }

  .white{
    color: white!important;
  }
  .pre-scrollable-fluid {
    /* max-height: 340px; */
    overflow-y: scroll;
}

.fullsize{
  width: 100%
}

.fixed-header{
  position: fixed;
  top: 35px;
  left: 145px;
}

 


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

// #sidebar ul li a {
//     text-align: left;
// }

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


 


  dialog::backdrop {
    background: rgba(119, 116, 116, 0.25);
}

 
dialog{
    border: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}


.footer{
    &.closed{
        height: 15px;
    }
    &.opened{
        height: 150px;
    }
    font-size: 11px;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
   
    background-color: #3a4ea0;

}
.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}
.container div {     
  
    margin-right: 8px;
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}



.rtl  {  
   
    
    
 
    
    .modal{
        margin: auto;
        width: 50%;
        height: 50%;
    }
    
     
   
    
   
    
    
















    #scroller {
        height: calc(100% - 160px);
        overflow-x: auto;

    }
      p {
          text-align:right;
          direction:rtl;
      }
      div {
        text-align:right;
        direction:rtl;
    }
      label{
        width: 100%;
        text-align:right;
        direction:rtl;
      }
      .mr-auto
      {
          width:100%;
        li{ 
            display: inline;            
            list-style-type: none;
            padding-right: 20px;
             
            }
      } 


      .slider-container{ 
        
        max-width: 0;   
        padding: 15px;   
        height: 94%;
        position: fixed;
        top:10px;
        bottom: 40px;
        left: -50%;
        
    }
 
    .slider-container.active {
        width: 100%;
        max-width: 500px; 
        left: 0;
        overflow-y: hidden;     
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}


.no-margin{
    margin:0;
    padding: 0;

}


.ltr  {  
    .close-button
    {   
        opacity: 0.5;
        float: right;
    }
    .close-button:hover
    {   
        opacity: 1;
        
    }
    .scroller {
        height: calc(100% - 100px);
        overflow-x: auto;

    }
    #scroller {
        height: calc(100% - 160px);
        overflow-x: auto;

    }
    .slider-container{     
    max-width: 0;   
    padding: 15px;   
    height: 94%;
    position: fixed;
    top:10px;
    bottom: 40px;
    right: -50%;
}

.slider-container.active {
    right: 0;
    overflow-y: hidden;
    width: 100%;
    max-width: 500px;  
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider-container.closing {
    right: 0;
    overflow-y: hidden;
    width: 0%;
    max-width: 0px;  
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.mr-auto li{ 
    display: inline;
    list-style-type: none;
    padding-right: 20px;
     
    }


}

.sqr-btn{
    
    font-size: 84px;
    text-align: center;
    vertical-align: middle;
}
.sqr-btn:hover,.sqr:hover{
    opacity: 1;
    .sqr-toolbar{
        visibility: visible;
    }
}

.dashboard-nav
{
    padding: 8px;
    height: 50px;
    border: none;
    border-radius: 35;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-xs{
    padding: 1px 1px;
    font-size: 10px;
    line-height: 1;
    border-radius: 0.2rem;
}
.sqr-toolbar{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 3px;
    visibility: hidden;

    li{
        height: 15px;
        display: inline-block;
        list-style-type: none;
        padding-right: 5px;
    }
}

 

.sqr{
 position: relative;
 cursor: pointer;
 opacity: 0.5;
 overflow: hidden;
 width: 150px;
 height: 150px;
}